AUTH0_SECRET='cefde806448f0de303ac35fdeaf9b8c067af160e8aa37441cb46717697feaa93'
AUTH0_BASE_URL='http://localhost:3000'
AUTH0_ISSUER_BASE_URL='https://skill-connect.us.auth0.com'
AUTH0_CLIENT_ID='MZXfq8bucpzzSAc9UZBosqzPywmXQbrk'
AUTH0_CLIENT_SECRET='PtCZTHNJtgakxB7DqEyRkPINTRTMEg9hwSoEJ-X5JblLLxqYIqnMjmRoakG7FHM_'

NEXT_PUBLIC_SUPABASE_URL='https://dxdpmgjttftkiqtlgcng.supabase.co'
NEXT_PUBLIC_SUPABASE_ANON_KEY='eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImR4ZHBtZ2p0dGZ0a2lxdGxnY25nIiwicm9sZSI6ImFub24iLCJpYXQiOjE2OTkyNzk5NDQsImV4cCI6MjAxNDg1NTk0NH0.DHTq4WkHgys5v0D9dj4i9Vfc9TCF7VuiGvRGR5RXYIY'

PAYPAL_CLIENT_ID=AS_sJ6LnTgmF46AkQHnSo65QqBKFAH6Yhd_Y_AYwXeZRlMxH3v7MWW43tGwoj2uMs8hmPFsi_9bOSRw3
PAYPAL_CLIENT_SECRET=EKXFJy11LbHC70ZDFhCnP7cFBV-97ubOCBo7Kgz-YXxVV71J2Uk-bKSVV72GYCmcrCGKBy1TL_as_8Ji
NEXT_PUBLIC_PAYPAL_CLIENT_ID=AS_sJ6LnTgmF46AkQHnSo65QqBKFAH6Yhd_Y_AYwXeZRlMxH3v7MWW43tGwoj2uMs8hmPFsi_9bOSRw3
